@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: KumbhSansRegular;
  src: url("./assets/fonts/Kumbh_Sans/static/KumbhSans-Regular.ttf");
}

@font-face {
  font-family: KumbhSansBold;
  src: url("./assets/fonts/Kumbh_Sans/static/KumbhSans-Bold.ttf");
}

.attribution {
  font-size: 1.1rem;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
